@import url('file:///home/psoldunov/.cache/wal/colors-waybar.css');

* {
	font-family: 'JetBrainsMono Nerd Font';
	font-size: 14px;
	font-weight: 700;
}

window {
	border-radius: 8px;
	border: 2px solid @color4;
	background-color: @background;
	color: @foreground;
}

button {
	box-shadow: none;
	border: none;
	border-radius: 8px;
}

#workspaces {
	background-color: @foreground;
	margin: 6px 0;
	border-radius: 4px;
}

#workspaces button {
	background-color: transparent;
	color: @background;
	border-radius: 4px;
}

#workspaces button:hover {
	background: rgba(0, 0, 0, 0.2);
}

#workspaces button.urgent {
	background-color: @color2;
}

#workspaces button.active {
	background-color: rgba(4, 97, 150, 0.5);
	color: white;
}

#taskbar {
	background-color: @background;
	margin: 6px 0;
	border-radius: 4px;
}

#taskbar button {
	background-color: transparent;
	border-radius: 4px;
}

#taskbar button:hover {
	background: rgba(255, 255, 255, 0.2);
}

button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
	background: inherit;
}

#custom-spotify {
	background-color: #1db954;
	color: @background;
	padding: 0 10px 0 10px;
	margin: 6px 0;
	border-radius: 4px;
}

#custom-spotify.paused {
	background-color: #90b1b1;
}

#custom-updates {
	background-color: @color7;
	font-weight: 600;
	color: @background;
	padding: 0 8px;
	margin: 6px 0;
	border-radius: 4px;
}

#custom-vpn {
	font-weight: 600;
	color: @background;
	background-color: @color7;
	padding: 0 10px 0 8px;
	margin: 6px 0;
	border-radius: 4px;
}

#custom-vpn.connected {
	background-color: #18e37e;
}

#custom-vpn.disconnected {
	background-color: #f53c3c;
	color: #fff;
}

#custom-updates.green {
	background-color: @color7;
}

#custom-updates.yellow {
	background-color: #ff9a3c;
	color: #ffffff;
}

#custom-updates.red {
	background-color: #dc2f2f;
	color: #ffffff;
}

#custom-logo {
	margin: 0 6px 0 12px;
	background-image: url('/home/psoldunov/.config/waybar/icons/fedora.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

#tray {
	background-color: @color8;
	padding: 0 8px;
	margin: 6px 0;
	border-radius: 4px;
}

#custom-exit {
	background-color: @color2;
	color: @background;
	padding: 0 16px 0 14px;
	margin: 6px 0;
	border-radius: 4px;
}

#idle_inhibitor {
	background-color: @color12;
	color: #ffffff;
	padding: 0 16px 0 12px;
	margin: 6px 0;
	border-radius: 4px;
}

#idle_inhibitor.activated {
	background-color: #ecf0f1;
	color: @background;
}

#language {
	margin: 6px 0;
	border-radius: 4px;
	padding: 0 10px 0 10px;
	background: #1db954;
	color: @background;
}

#keyboard-state {
	background: #97e1ad;
	color: @background;
	margin: 6px 0;
	border-radius: 4px;
}

#keyboard-state > label {
	padding: 0 14px 0 10px;
}

#keyboard-state > label.locked {
	background: rgba(0, 0, 0, 0.2);
}

#custom-notification {
	background-color: #ffffff;
	color: @background;
	padding: 0 10px 0 10px;
	margin: 6px 6px 6px 0px;
	border-radius: 4px;
}

#clock {
	background-color: #64727d;
	color: #fff;
	padding: 0 10px 0 10px;
	margin: 6px 0;
	border-radius: 4px;
}

#clock.clock2 {
	background-color: #64727d;
	color: #fff;
	padding: 0 10px 0 10px;
	margin: 6px 0;
	border-radius: 4px;
}

#mpd {
	background-color: #18e37e;
	color: @background;
	padding: 0 10px 0 10px;
	margin: 6px 0;
	border-radius: 4px;
}

#mpd.disconnected {
	background-color: #f53c3c;
}

#mpd.stopped {
	background-color: #90b1b1;
}

#mpd.paused {
	background-color: #51a37a;
}

#cpu {
	background-color: #2ecc71;
	color: @background;
	padding: 0 10px 0 10px;
	margin: 6px 0;
	border-radius: 4px;
}

#memory {
	background-color: #9b59b6;
	color: #ffffff;
	padding: 0 10px 0 10px;
	margin: 6px 0;
	border-radius: 4px;
}

#disk {
	background-color: #964b00;
	color: #ffffff;
	padding: 0 10px 0 10px;
	margin: 6px 0;
	border-radius: 4px;
}

#temperature {
	background-color: #f0932b;
	color: @background;
	padding: 0 10px 0 10px;
	margin: 6px 0;
	border-radius: 4px;
}

#network {
	background-color: #2980b9;
	color: #ffffff;
	padding: 0 10px 0 10px;
	margin: 6px 0;
	border-radius: 4px;
}

#network.disconnected {
	background-color: #f53c3c;
	padding: 0 10px 0 10px;
	margin: 6px 0;
	border-radius: 4px;
}

#pulseaudio {
	background-color: #f1c40f;
	color: #000000;
	padding: 0 10px 0 10px;
	margin: 6px 0;
	border-radius: 4px;
}

#pulseaudio.muted {
	background-color: #90b1b1;
	color: #2a5c45;
	padding: 0 10px 0 10px;
	margin: 6px 0;
	border-radius: 4px;
}
